
.navbar {
  width: 90%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 5px;
  background-color: rgba(173, 113, 40, 0.884);
  
  height: auto; 
}

.navbar-menu {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #0a0909;
}

.navbar-menu button {
  margin-left: auto; 
  padding: 0.5rem 1rem;
  background-color: hsla(211, 84%, 27%, 0.694);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-menu button:hover {
  background-color: #0056b3;
}

.weather {
  margin-left: 20px;
  
  
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    width: 100%;
    justify-content: space-between;
  }
  

}
