
.trips-wrapper {
    padding: 20px;
    background-color: #f0f0f0;
  }
  

  .section {
    margin: 20px auto;
    max-width: 1200px;
  }
  
 
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
 
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .trip-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
 
  .trip-content {
    padding: 15px;
  }
  

  .rating i {
    color: #ffc107; 
    margin-right: 5px;
    font-size: 18px;
  }
  
.h3{
    font-size: 15px;
}  