
.history-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  color: #333;
  
}

.hero-sec {
  background-image: url('/cherry.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 18px;
  max-width: 2000px;
}

.history-hero {
  
  padding: 4rem;
  text-align: center;

  height: 300px;
  
  padding: 10rem;
  max-width: 2500px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
  }
  
  .fade-in-keyframes{
  animation: fadeIn 2s ease-in forwards;
  }

.history-hero h1 {
  font-family: "Bebas Neue", serif;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: pink;
  text-align: center;
}

.history-hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 10 auto;
  color: rgb(248, 244, 244);
  text-align: center;
}


.history-content {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  
}

.history-content h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: rgb(67, 13, 22);
  font-family: "Instrument Serif", serif;
}

.history-timeline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Instrument Serif", serif;
  color: rgb(19, 2, 5);
  
  
}

.timeline-event {
  
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  background-color:#bcd0e5dc; 
  border: 1px solid;
  overflow: hidden;
}

.event-image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.event-details {
  padding: 1rem;
  flex: 1;
}

.event-details h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.6rem;
}

.event-date {
  font-size: 25px;
  display: inline;
  font-weight: bold;
  color: #050505;
}

.event-description {
  margin: 0;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .timeline-event {
    flex-direction: column;
  }

  .event-image {
    width: 100%;
  }
}
