@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.home-page {
    background: url('/lincoln2.jpg')  no-repeat;
    height: 480px;
    margin: 20px auto;
    font-family: sans-serif;
    margin: 0 auto;
    border-radius: 18px;
    padding: 10rem;
    padding: 80px 8%;
    max-width: 2000px;
  
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
   
  }
  
  .hero-text h1 {
   font-size: 120px;
   text-align: center;
  margin-top: 80px;
   color: rgb(152, 43, 43);
   

  }

  .fade-in-keyframes {
    animation: fadeIn 2.s ease-in forwards;
    /* 2s = duration, ease-in = timing function, forwards = stay at opacity:1 */
  }
  
  
  /* src/components/home.css */

.home-page {
  font-family: Arial, sans-serif;
}


.hero-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 6em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  color: #555;
}

.intro-section {
  padding: 160px;
  /* Add your intro section styles here */
}

.trips-wrapper {
 
  padding: 40px 20px; 
}

.trips-wrapper h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  margin-bottom: 0px;
  color: blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
}

.card:hover {
  transform: translateY(-10px);
}

.trip-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.trip-content {
  padding: 15px;
}

.trip-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: blue;
}

.trip-content p {
  color: #555;
  font-size: 0.9em;
}

.rating i {
  color: #f8e825; /* Gold color for stars */
  margin-right: 2px;
}

  
  
