@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



.home-page {
    background: url('/liconln.png')  no-repeat;
    height: 34vw;
    margin: 20px auto;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 10rem;
    max-width: 1200px;
   
  }
  
  .hero-section {
    
    gap: 1.5vw;

    animation: fadeIn 3s;
    bottom: 10%;
    left: 6vw;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    
  }
  
  .hero-text h1 {
   font-weight: 700;
   text-align: center;
  margin-top: -10%;
   color: white;
   font-size: 3.5rem;
   left: 6vw;
   
  }

  .fade-in-keyframes {
    animation: fadeIn 2.5s ease-in forwards;
    /* 2s = duration, ease-in = timing function, forwards = stay at opacity:1 */
  }
  
  
  
  
  
