*{
 
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.bebas-neue-regular {
font-family: "Bebas Neue", serif;
font-weight: 400;
font-style: normal;
}
.instrument-serif-regular {
font-family: "Instrument Serif", serif;
font-weight: 400;
font-style: normal;
}

.instrument-serif-regular-italic {
font-family: "Instrument Serif", serif;
font-weight: 400;
font-style: italic;
}
.playfair-display {
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
}

.home-page {

 margin: 0 auto;
}

.hero-section {
  background: url('images/lincoln2.jpg')  no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 480px;
  border-radius: 18px;
  padding: 10rem;
  padding: 80px 8%;
  max-width: 2000px;
  
}


.hero-text h1 {
text-align: center;
margin-top: 80px;
color: rgb(173, 113, 40);
text-shadow: rgb(12, 12, 11) 1px 0 8px;
font-family: "Bebas Neue", serif;
font-size: 8em;
margin-bottom: 20px;

}

.hero-text {
text-align: center;
max-width: 800px;
margin: 0 auto;
}

.hero-text p {
font-size: 1.5em;
color: #1a1515;
text-shadow: rgb(173, 113, 40) 1.5px  2px;
font-family: "Playfair Display", serif;
font-weight: bold;
}

.intro-section {
padding: 40px;


}

.bus-icon{
position: absolute;
left: -100px; 
width: 70px; 
height: auto;
transform: translateY(-50%); 
animation: moveBus 10s linear infinite;
}

@keyframes moveBus {
  0% {
    left: -100px; 
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%; 
  }
}



.trips-wrapper h2 {
font-family: "Bebas Neue", serif;
font-size: 70px;
margin-bottom: 20px; 
color: rgb(173, 113, 40);
text-shadow: rgb(12, 12, 11) 2.5px 0 2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally */
  border-radius: 18px;
  padding: 2rem; /* Add padding for spacing */
  background-color: rgba(255, 255, 255, 0.1); 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  background: hsla(240, 17%, 36%, 0.661);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 400px;
  overflow: hidden;
  transition: transform 0.3s;
}





.card:hover {
transform: translateY(-10px);
}

.trip-image {
width: 100%;
height: 250px;
object-fit: cover;
}
.trip-content {
padding: 15px;
 background-color: rgba(255, 255, 255, 0.1);

}


.trip-content h3 {
  font-family: "Playfair Display", serif;
  margin: 10px 0;
  font-size: 1.5em;
  line-height: 1.2; 
  color: rgb(58, 58, 97);
  text-align: center; /* Centers the text */
}

.trip-content p {
color: #555;
font-size: 0.8em;

}

.rating  {
display: flex;
justify-content: center;
color: #f8e825; 
text-shadow: rgb(12, 12, 11) 1px 0 .5px;

margin: 10px 0; 


}

.booking {
background-color: #ff5722; 
color: #fff;
border: none;
padding: 8px 20px;
font-size: 1em;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.4s ease;
}

.booking:hover {
background-color: #e64a19; 
}
.pickup-info {
display: flex;
align-items: center;
margin-top: 15px; 
font-size: 0.95em;
color: #555;
}

.pickup-info i {
margin-right: 5px;
color: #ff5722; 
}


.pricing {
display: flex;
flex-direction: column; 
align-items: center; 
margin-top: 2px; 
}


.price {
font-size: 1.5em;
font-weight: bold;
color: #333;
margin-bottom: 10px; 
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

.fade-in-keyframes{
animation: fadeIn 2s ease-in forwards;
}

