
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }

  .background-container {
    min-height: 100vh;
    background-image: linear-gradient(rgba(122, 130, 140, 0.8),rgba(2, 2, 56, 0.8)), url(liconln.png);
   
    position: relative;
    margin-top: 1%;
    border-radius: 18px;
    height: 480px;
    margin: 20px auto;
    margin-left: 5%;
    margin-right: 5%;
   
  }


  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(76, 76, 108, );
    backdrop-filter: blur(25px);
    
    box-shadow: 0px 0px 10px 2px rgba(36, 36, 51, 0.8);
    width: 90%; 
    max-width: 400px;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 50px 50px;
  
}

  h2{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #ccc;
  }


  /* Form fields */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-weight: 600;
    margin: 10px 0 5px;
  }
  
  form input[type="email"],
  form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Remember Me */
  .rememberMe {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .rememberMe label {
    font-weight: normal;
    margin: 0 0 0 5px;
  }
  
  /* Submit button */
  button[type="submit"] {
    margin-top: 20px;
    padding: 12px;
    background-color: #0d6efd;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Horizontal line separator */
  hr {
    margin: 20px 0;
  }
  
  /* Text & link styles */
  p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  a {
    color: #0d6efd;
    font-weight: 600;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
